 header{
    padding: 20px;
    background-color: burlywood;

}
.project{
     font-style:normal;
     font-size: 20px;
     margin: 10px;
     display: flex;
     flex-direction:column;
   justify-content: space-around;
}

body{
    background-color: rgb(220, 205, 181);
    margin: 10px;
}
li{
    margin: 19px;
}
.glow{
    font-style:normal;
    font-size: 20px;
    margin: 10px;
}
.description{

} 
.project div{
    width: px;
    border: 2px solid slategray;
}