header{
    padding: 0px;
    background-color: burlywood;
}
.My-Projects p{
    background-color:burlywood;
     font-style:normal;
     font-size: 20px;
   
}
h2{
    color: black;
    padding: 10px;
    background-color:burlywood;
    text-align: center;
    margin:px;
}
 
img{
    padding: 10px;
    background-color:chocolate;
    margin: 10px;
}
h1{
    font-size:30px;
    text-align: center;
    
}
